<div>
  <div class="col-md-12">
    <div class="jumbotron">
        <h3 class="addMovietitle">Add Movie</h3>
        <hr>
      <form name="addMovie" id="addMovie" #f="ngForm" (ngSubmit)="addMovie() ; addPrice()">
        <label>Name:</label>
        <input type="text" class="form-control addText" name="title" [(ngModel)]="title" >
        <br>
        <label >Year:</label>
          <input type="text" class="form-control addText" name="year" [(ngModel)]="year">
        <br>
        <label>Genre:</label>
          <select value="Select" class="form-control addText" name="genre" [(ngModel)]="genre">
            <option value="" selected="selected">Select option</option>
            <option value='5'>Horror</option>
            <option value='6'>Comedy</option>
            <option value='7'>Family</option>
            <option value='8'>Science Fiction</option>
          </select>
        <br>
        <label> Classification: </label>
          <select value="Select" class="form-control addText" name="classification" [(ngModel)]="classification">
            <option value="" selected="selected">Select option</option>
            <option value='8'>U</option>
            <option value='9'>PG</option>
            <option value='10'>PG13</option>
            <option value='11'>12</option>
            <option value='12'>12A</option>
            <option value='13'>15</option>
            <option value='14'>18</option>
          </select>
        <br>
        <label >Director:</label>
        <input type="text" class="form-control addText" name="director" [(ngModel)]="director">
        <br>
        <label>Price:</label>
        <input type="number" class="form-control addText" min="0" step=".01" name="price" [(ngModel)]="price">
        <br>
        <label>Main Cast:</label>
        <textarea class="form-control addTextMainCast" name="mainCast" [(ngModel)]="mainCast"> </textarea>
        <br>
        <label >Description:</label>
        <textarea class="form-control addTextMainCast" name="description" [(ngModel)]="description"> </textarea>
        <br>
        <input type="submit" value="Submit" class="btn btn-primary buttons" >
        <button  class="btn btn-danger buttons" routerLink='/dashboard/admin/manage-movies' routerLinkActive="active">Cancel </button>
      </form>
    </div>
  </div>
</div>

<!--; addPrice()-->
