<div>
  <div class="col-md-12">
    <div class="jumbotron">
        <h3 class="addMovietitle">Add Movie</h3>
        <hr>
      <form name="addMovie" id="addMovie" #f="ngForm" (ngSubmit)="addMovie() ; addPrice()">
        <label>Name:
        <input type="text" class="form-control addText" name="title" [(ngModel)]="title" required ></label>
        <br>
        <label >Year:
          <input type="text" class="form-control addText" name="year" [(ngModel)]="year" required></label>
        <br>
        <label>Genre:
          <select class="form-control addText" name="genre" [(ngModel)]="genre" required>
            <option value='5'>Horror</option>
            <option value='6'>Comedy</option>
            <option value='7'>Family</option>
            <option value='8'>Science Fiction</option>
          </select></label>
        <br>
        <label> Classification:
          <select class="form-control addText" name="classification" [(ngModel)]="classification" required>
            <option value='8'>U</option>
            <option value='9'>PG</option>
            <option value='10'>PG13</option>
            <option value='11'>12</option>
            <option value='12'>12A</option>
            <option value='13'>15</option>
            <option value='14'>18</option>
          </select></label>
        <br>
        <label >Director:
        <input type="text" class="form-control addText" name="director" [(ngModel)]="director" required></label>
        <br>
        <label>Price:
        <input type="number" class="form-control addText" min="0" step=".01" name="price" [(ngModel)]="price" required></label>
        <br>
        <form #f="ngForm" (ngSubmit)="saveImageToFile()">
          <label>Image:</label>
          <input type="file" name="image" [(ngModel)]="image" accept="image/*" required>

          <br>
          <input type="submit" value="Save Image" class="btn btn-primary buttons">
        </form>


        <br>
        <label>Main Cast:
        <textarea class="form-control addTextMainCast" name="mainCast" [(ngModel)]="mainCast" required> </textarea></label>
        <br>
        <label >Description:
        <textarea class="form-control addTextMainCast" name="description" [(ngModel)]="description" required> </textarea></label>
        <br>

        <input type="submit" value="Submit" class="btn btn-primary buttons" >
        <button  class="btn btn-danger buttons" routerLink='/dashboard/admin/manage-movies' routerLinkActive="active">Cancel </button>

      </form>
    </div>
  </div>
</div>

