<div class="jumbotron" style="max-width: none">
  <h2>Manage Movies</h2>
  <p><button>Add Movie</button></p>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Rating</th>
      <th>Classification</th>
      <th>Director</th>
      <th>Main Cast</th>
      <th>Description</th>
      <th>Price</th>
      <th>Purchasable</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.title}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.genre.value}}</td>
        <td>{{movie.rating}}</td>
        <td>{{movie.classification.value}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.cast}}</td>
        <td>{{movie.description}}</td>
        <td>{{movie.price | currency:'EUR':true:'1.2-2'}}</td>
        <td style="text-align: center">
          <div class="checkbox"><input type="checkbox" [checked]="movie.purchasable"></div>
        </td>
        <td style="text-align: center">
          <button>
          <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>
    </tr>
    </tbody>
  </table>
</div>

