<td>{{theMovie.title}}</td>
<td>{{theMovie.year}}</td>
<td>{{theMovie.genre.value}}</td>
<td>{{theMovie.rating}}</td>
<td>{{theMovie.classification.value}}</td>
<td>{{theMovie.director}}</td>
<td>{{theMovie.cast}}</td>
<td>{{theMovie.description}}</td>
<td>{{theMovie.price | currency:'EUR':true:'1.2-2'}}</td>
<td style="text-align: center">
  <div class="checkbox"><input type="checkbox" [checked]="theMovie.purchasable"></div>
</td>
<td style="text-align: center">
  <button  style="max-width: 100px"  class="btn btn-info navbar-btn" routerLink="./edit-movie" routerLinkActive="active">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
</td>
