<div class="jumbotron">
  <h2>Detailed Movie View</h2><br>
  <img src="" alt="PLACEHOLDER">
  <div>
    <h2>{{theMovie?.title}} ({{theMovie?.year}})</h2>
    <p>Avg. Review: PLACEHOLDER</p>
    <p>Genre: {{theMovie?.genre.value}}</p>
    <P>Cast: PLACEHOLDER</P>
    <p>Classification: {{theMovie?.classification.value}}</p>
    <div class="buttonDiv" *ngIf='theMovie?.purchasable && !owned'>
      <button class="btn btn-success" (click)="addMovieToBasket()" [disabled]="inBasket">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <span> Buy now: </span>
        <span class="badge">{{theMovie?.price | currency:'EUR':true}}</span>
      </button>
      <p *ngIf="inBasket" class="inBasketOrOwnedMsg">This Item is in your basket!</p>
    </div>
    <p *ngIf="owned" class="inBasketOrOwnedMsg">
      You own this Movie!
    </p>
    <div class="buttonDiv">
      <button class="btn btn-danger">
        <span class="glyphicon glyphicon-list"></span>
        <span>Add to Wishlist</span>
        <span class="badge"></span>
      </button>
    </div>
    <div class="buttonDiv">
      <button class="btn btn-warning">
        <span class="glyphicon glyphicon-heart"></span>
        <span>Add to Favourites</span>
        <span class="badge"></span>
      </button>
    </div>
  </div><br><br><br>
  <div>
    <h3>Description:</h3><br>
    <p>{{theMovie?.description}}</p><br><br>
    <h3>Reviews:</h3><br>
    <p>PLACEHOLDER</p><br>
    <button class="btn btn-success">Add a review</button><br><br>
    <button class="btn btn-danger" (click)="backClick()">Back</button>
  </div>
</div>
