<div class="col-mid-8">
  <span class="viewtype">Table View</span>
  <span class="switcher">
  <label class="switch">
    <input type="checkbox" (click)="updateView()" [checked]="checked">
    <span class="slider round"></span>
  </label></span><span class="viewtype">Grid View</span>
  <button class='btn nav-bar' routerLink='./favorites' routerLinkActive="active">Favorites</button>

  <table class="table jumbotron">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Classification</th>
        <th>Wishlist</th>
        <th>Favorites</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies" >
          <td>{{movie.title}}</td>
          <td>{{movie.year}}</td>
          <td>{{movie.genre.value}}</td>
          <td>{{movie.classification.value}}</td>
          <td> null</td>
          <td ><input type="checkbox" (click)="toggleFavorite(movie)"></td>
        </tr>
    </tbody>
  </table>
  <!--<m-grid *ngIf="checked"-->
          <!--[movies]='movies' [showAddToBasket]="false" [showPrice]="false" [showFavorites]="true"></m-grid>-->
  <!--<movie-table *ngIf="!checked" [movies]="movies" [showAddToBasket]="false" [showPrice]="false" [showFavorites]="true"></movie-table>-->
</div>
