<table class="table">
  <thead>
  <tr>
    <th class="col-md-4">Title</th>
    <th class="col-md-1">Year</th>
    <th class="col-md-2">Genre</th>
    <th class="col-md-1">Classification</th>

    <th class="col-md-1" *ngIf="showPrice">Price</th>
    <th class='col-md-1' *ngIf="showAddToBasket"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movie of movies" movie-table-row
      [currentMovie]="movie"
      [showAddToBasket]="showAddToBasket" [showPrice]="showPrice"
      (onAddMovieToBasket)="movieAdded($event)">
  </tr>
  </tbody>
</table>

