<td class="movieTitle" title="Click here for more details" [routerLink]="['./detailedMovieView']" [queryParams]="{id: theMovie.id}"  routerLinkActive="active">{{theMovie.title}}<br> <p  (mouseenter)="showDescription()" (mouseleave)="hideDescription()" class="glyphicon glyphicon-info-sign"><br><span>{{ desc }}</span></p></td>
<td>{{theMovie.year}}</td>
<td>{{theMovie.genre.value}}</td>
<td>{{theMovie.classification.value}}</td>
<td *ngIf="showPrice">{{theMovie.price | currency:'EUR':true:'1.2-2'}}</td>
<td *ngIf="showAddToWishlist"><span class='btn btn-success navbar-btn' (click)="addMovieToWishlist()">Add to Wishlist</span></td>
<td *ngIf="showAddToBasket"><span class='btn btn-info navbar-btn' (click)="addMovieToBasket()">Add to basket</span></td>

