
<div class="movie-panel">

  <h1 title="Click here for more details" [routerLink]="['./detailedMovieView']" [queryParams]="{id: theMovie.id}" routerLinkActive="active">{{theMovie.title}}</h1>
  <img  src="assets/images/{{theMovie.image}}" alt = "Image Not Found">
  <p>{{theMovie.description.slice(0, descLen)}}....</p>


  <div class="buttonDiv">
    <button *ngIf="showAddToWishlist" class="btn btn-success navbar-btn" (click)="addMovieToWishlist()">
      <span>Add to Wishlist: </span>
      <span class="badge"><span class="glyphicon glyphicon-list-alt"></span></span>
    </button>
    <button *ngIf="showAddToBasket" (click)="addMovieToBasket()" class="btn btn-info navbar-btn">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <span> Buy now: </span>
      <span class="badge" *ngIf="showPrice">{{theMovie.price | currency:'EUR':true}}</span>
    </button>
  </div>

  <div class="infocontainer">
  <div class="info">
  <span class="glyphicon glyphicon-info-sign" (mouseenter)="showInfo()" (mouseleave)="hideInfo"></span>
    <span class="tooltiptext">{{info}}</span>
  </div>
  </div>

</div>

