<div class="row" *ngIf="isAdmin">
  <div class="col-md-12">
    <div class="jumbotron">
      <h3 class="addMovietitle">Edit Movie</h3>
      <hr>
      <form name="editMovie" id="editMovie" #f="ngForm" (ngSubmit)="editMovie()">
        <div id="failure-alert" *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
        <label htmlFor="title">Name:
          <input type="text" class="form-control addText"  name="title"
                 [(ngModel)]="title" required ></label>
        <br>
        <label htmlFor="year">Year:</label>
        <input type="text" class="form-control addText" name="year"
               [(ngModel)]="year" required>
        <br>
        <label htmlFor="genre">Genre:</label>
        <select value="Select" [(ngModel)]="genre" name="genre" class="form-control addText" required>
          <option value="" selected="selected">Select option</option>
          <option value='5'>Horror</option>
          <option value='6'>Comedy</option>
          <option value='7'>Family</option>
          <option value='8'>Science Fiction</option>
        </select>
        <br>
        <label htmlFor="classification">Classification: </label>
        <select value="Select" [(ngModel)]="classification" name="classification" class="form-control addText" required>
          <option value="" selected="selected">Select option</option>
          <option value='8'>U</option>
          <option value='9'>PG</option>
          <option value='10'>PG13</option>
          <option value='11'>12</option>
          <option value='12'>12A</option>
          <option value='13'>15</option>
          <option value='14'>18</option>
        </select>
        <br>
        <label htmlFor="director">Director:</label>
        <input type="text" class="form-control addText" name="director" [(ngModel)]="director" required>
        <br>
        <label htmlFor="price">Price:</label>
        <input type="number" class="form-control addText" min="0" step=".01" name="price" [(ngModel)]="price" required>
        <br>
        <label htmlFor="cast">Main Cast:</label>
        <textarea class="form-control addTextMainCast" [(ngModel)]="cast" name="cast" required> </textarea>
        <br>
        <label htmlFor="description">Description:</label>
        <textarea class="form-control addTextMainCast" [(ngModel)]="description" name="description" required > </textarea>
        <br>
        <div class="form-group">
          <button class="btn btn-primary">Save Changes</button>

          <button class="btn btn-danger" routerLink="../" routerLinkActive="active">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="isAdmin == false" style="color: white; font-size: 100px; text-align: center;">
  <p>You dont have access to this page!</p>
  <p><img src="app/component/admin-tools/angryBoss.jpg" height = "500" width="800" align="middle"></p>
</div>

