<div class="row" *ngIf="isAdmin">
    <div class="jumbotron">
      <h3 class="addMovietitle">Edit Movie</h3>
      <hr>
      <form name="editMovie" id="editMovie" #f="ngForm" (ngSubmit)="editMovie()">
        <div id="failure-alert" *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>

        <label>Name: <input type="text" class="form-control addText" name="title" [(ngModel)]="title" required ></label>
        <br>

        <label>Year:</label><input type="text" class="form-control addText" name="year" [(ngModel)]="year" required>
        <div style="color: red" *ngIf="f.submitted && yearValidation()" class="help-block">Please change Year to a valid year, must be in the range of 1800-2999</div>
        <br>

        <label>Genre:</label>
        <select value="Select" [(ngModel)]="genre" name="genre" class="form-control addText" required>
          <option value="" selected="selected">Select option</option>
          <option *ngFor="let currentGenre of genres" value='{{currentGenre.id}}'>{{currentGenre.value}}</option>
        </select>
        <br>

        <label>Classification: </label>
        <select value="Select" [(ngModel)]="classification" name="classification" class="form-control addText" required>
          <option value="" selected="selected">Select option</option>
          <option *ngFor="let currentClassification of classifications" value='{{currentClassification.id}}'>{{currentClassification.value}}</option>
        </select>
        <br>

        <label>Director:</label><input type="text" class="form-control addText" name="director" [(ngModel)]="director" required>
        <div style="color: red" *ngIf="f.submitted && directorValidation()" class="help-block">Must contain at least one charachter</div>
        <br>

        <label>Price:</label><input type="number" class="form-control addText" min="0" step=".01" name="price" [(ngModel)]="price" required>
        <br>

        <label htmlFor="cast">Main Cast:</label>
        <textarea class="form-control addTextMainCast" [(ngModel)]="cast" name="cast" required> </textarea>
        <div style="color: red" *ngIf="f.submitted && castValidation()" class="help-block">Must contain at least one charachter</div>
        <br>

        <label htmlFor="description">Description:</label>
        <textarea class="form-control addTextMainCast" [(ngModel)]="description" name="description" required >
          <div style="color: red" *ngIf="f.submitted && descriptionValidation()" class="help-block">Must contain at least one charachter</div>
        </textarea>
        <br>

        <div class="form-group">
          <button class="btn btn-primary">Save Changes</button>
          <button class="btn btn-danger" routerLink="../" routerLinkActive="active">Cancel</button>
        </div>

      </form>
    </div>
</div>

<non-admin-warning  *ngIf="isAdmin == false" ></non-admin-warning>
