<div>
  <div class="col-md-12">
    <div class="jumbotron">
      <h3 class="addMovietitle">Edit Movie</h3>
      <hr>
      <form name="editMovie" id="editMovie" #f="ngForm" (ngSubmit)="editMovie()">
        <label htmlFor="title">Name:
          <input type="text" class="form-control addText"  name="title"
                 [(ngModel)]="title" required ></label>
        <br>
        <label htmlFor="year">Year:</label>
        <input type="text" class="form-control addText" name="year"
               [(ngModel)]="year" required>
        <br>
        <label htmlFor="genre">Genre:</label>
        <select value="Select" [(ngModel)]="genre" name="genre" class="form-control addText">
          <option value="" selected="selected">Select option</option>
          <option value='5'>Horror</option>
          <option value='6'>Comedy</option>
          <option value='7'>Family</option>
          <option value='8'>Science Fiction</option>
        </select>
        <br>
        <label htmlFor="classification">Classification: </label>
        <select value="Select" [(ngModel)]="classification" name="classification" class="form-control addText">
          <option value="" selected="selected">Select option</option>
          <option value='8'>U</option>
          <option value='9'>PG</option>
          <option value='10'>PG13</option>
          <option value='11'>12</option>
          <option value='12'>12A</option>
          <option value='13'>15</option>
          <option value='14'>18</option>
        </select>
        <br>
        <label htmlFor="director">Director:</label>
        <input type="text" class="form-control addText" name="director" [(ngModel)]="director">
        <br>
        <label htmlFor="price">Price:</label>
        <input type="number" class="form-control addText" min="0" step=".01" name="price" [(ngModel)]="price">
        <br>
        <label htmlFor="cast">Main Cast:</label>
        <textarea class="form-control addTextMainCast" [(ngModel)]="cast" name="cast"> </textarea>
        <br>
        <label htmlFor="description">Description:</label>
        <textarea class="form-control addTextMainCast" [(ngModel)]="description" name="description" > </textarea>
        <br>
        <div class="form-group">
          <button class="btn btn-primary">Submit</button>

          <button class="btn btn-danger">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

